<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <p>
      <button ion-button color="light" icon-start>
        <ion-icon name='arrow-back'></ion-icon>
        Back
      </button>

      <button ion-button color="light" icon-only>
        <ion-icon name='arrow-up'></ion-icon>
      </button>

      <button ion-button color="light" icon-only>
        <ion-icon name='arrow-down'></ion-icon>
      </button>

      <button ion-button color="light" icon-end>
        Next
        <ion-icon name='arrow-forward'></ion-icon>
      </button>
    </p>

    <p>
      <button ion-button icon-start>
        <ion-icon name='home'></ion-icon>
        หน้าหลัก
      </button>

      <button ion-button outline icon-start>
        <ion-icon name='briefcase' is-active="false"></ion-icon>
        ข้อมูล
      </button>

      <button ion-button clear icon-start>
        <ion-icon name='beer' is-active="false"></ion-icon>
        ท่องเที่ยว
      </button>  
    </p>

    <h3>Default Style</h3>
    <button ion-button>Default</button>
    <button ion-button color="secondary">Secondary</button>
    <button ion-button color="light">Light</button>
    <button ion-button color="danger">Danger</button>
    <button ion-button color="dark">Dark</button>
    
    <h3>Outline Style</h3>
    <button ion-button outline>Default</button>
    <button ion-button color="secondary" outline>Secondary</button>
    <button ion-button color="light" outline>Light</button>
    <button ion-button color="danger" outline>Danger</button>
    <button ion-button color="dark" outline>Dark</button>

    <h3>Clear Style</h3>
    <button ion-button clear>Default</button>
    <button ion-button color="secondary" clear>Secondary</button>
    <button ion-button color="light" clear>Light</button>
    <button ion-button color="danger" clear>Danger</button>
    <button ion-button color="dark" clear>Dark</button>

    <h3>Round Style</h3>
    <button ion-button round>Default</button>
    <button ion-button color="secondary" round>Secondary</button>
    <button ion-button color="light" round>Light</button>
    <button ion-button color="danger" round>Danger</button>
    <button ion-button color="dark" round>Dark</button>

    <h3>Block Style</h3>
    <button ion-button block>Default</button>
    <button ion-button color="secondary" block>Secondary</button>
    <button ion-button color="light" block>Light</button>
    <button ion-button color="danger" block>Danger</button>
    <button ion-button color="dark" block>Dark</button>

    <h3>Full Style</h3>
    <button ion-button full>Default</button>
    <button ion-button color="secondary" full>Secondary</button>
    <button ion-button color="light" full>Light</button>
    <button ion-button color="danger" full>Danger</button>
    <button ion-button color="dark" full>Dark</button>

    <h3>Size Style</h3>
    <button ion-button small>Default</button>
    <button ion-button color="secondary" small>Secondary</button>
    <button ion-button color="light">Light</button>
    <button ion-button color="danger" large>Danger</button>
    <button ion-button color="dark" large>Dark</button>
</ion-content>
