<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form (ngSubmit)="logForm()">
    <ion-list>

        <ion-item>
          <ion-label fixed>ชื่อผู้ใช้</ion-label>
          <ion-input type="text" [(ngModel)]="todo.username" name="username" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>รหัสผ่าน</ion-label>
          <ion-input type="password" [(ngModel)]="todo.password" name="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>ชื่อ</ion-label>
          <ion-input type="text" value="" [(ngModel)]="todo.firstname" name="firstname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>นามสกุล</ion-label>
          <ion-input type="text" value="" [(ngModel)]="todo.lastname" name="lastname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>โทรศัพท์</ion-label>
          <ion-input type="text" value="" [(ngModel)]="todo.tel" name="tel"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button color="primary" block>สมัครสมาชิก</button>
        </div>
      
    </ion-list>
    </form>

</ion-content>
