<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="หน้าหลัก" tabIcon="home"></ion-tab>
  <ion-tab [root]="WorkRoot" tabTitle="งาน" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="TravelRoot" tabTitle="ท่องเที่ยว" tabIcon="bicycle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="เกี่ยวกับ" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="ติดต่อเรา" tabIcon="contacts"></ion-tab>
</ion-tabs>
