<!--
  Generated template for the CafePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ร้านกาแฟ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p>1. {{ cafe1 }}</p>
    <p>2. {{ cafe2 }}</p>
    <p>3. {{ cafe3 }}</p>

</ion-content>
