<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ห้างสรรพสินค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>1. {{ company1 }}</p>
  <p>2. {{ company2 }}</p>
  <p>3. {{ company3 }}</p>
  <p>4. {{ company4 }}</p>

</ion-content>
