<!--
  Generated template for the UsernamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>รายชื่อ</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let l of listregister">
      <ion-item-sliding>
        <ion-item>
          <p>ID : {{ l.id }}</p>
          <p>Username : {{ l.username }}</p>
          <p>ชื่อ : {{ l.firstname }}</p>
          <p>นามสกุล : {{ l.lastname }}</p>
          <p>โทรศัพท์ : {{ l.tel }}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="info" icon-start (click)="editRegister(l.id,l)">
            <ion-icon name="ios-build"></ion-icon>
              edit
          </button>
          <button ion-button color="danger" icon-start (click)="deleteRegister(l.id,l)">
            <ion-icon name="ios-trash"></ion-icon>
              delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
