<!--
  Generated template for the MedicalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>โรงพยาบาล</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p>1. {{ hos1 }}</p>
    <p>2. {{ hos2 }}</p>
    <p>3. {{ hos3 }}</p>

</ion-content>
