<ion-header>
  <ion-navbar>
    <ion-title>
      ติดต่อเรา
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>ข้อมูลทั่วไป</ion-list-header>
    <ion-item>
      ชื่อ : {{ name }}
    </ion-item>
    <ion-item>
      นามสกุล : {{ lastname }}
    </ion-item>
    <ion-item>
      ที่อยู่ : {{ address }}
    </ion-item>
    <ion-item>
      เบอร์โทร : {{ tel }} <button ion-button round (click)="showTel()">แสดง</button>
    </ion-item>
  </ion-list>
</ion-content>
