<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>หน้าหลัก</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>นายมรกต ทองพรหม</h1>
  <h2>ทดสอบ Alert</h2>
  <button ion-button block color="dark" (click)="doAlert()">Click</button>
  <h2>ทดสอบ Alert Confirm</h2>
  <button ion-button block (click)="conAlert()">Confirm</button>
  <h2>ทดสอบ Alert Save</h2>
  <button ion-button block (click)="saveAlert()">Save</button>
  <h2>ทดสอบ Alert Check box</h2>
  <button ion-button block color="danger" (click)="checkAlert()">Alert Check box</button>
  <h2>ทดสอบ Alert Radio</h2>
  <button ion-button block (click)="radioAlert()">Alert Radio</button>
</ion-content>
