<ion-header>

  <ion-navbar>
    <ion-title>ID : {{ id }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="editForm(id)">
      <ion-list>
  
          <ion-item>
            <ion-label fixed>ชื่อผู้ใช้</ion-label>
            <ion-input type="text" value="" [(ngModel)]="data.username" name="username" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label fixed>ชื่อ</ion-label>
            <ion-input type="text" value="" [(ngModel)]="data.firstname" name="firstname"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label fixed>นามสกุล</ion-label>
            <ion-input type="text" value="" [(ngModel)]="data.lastname" name="lastname"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label fixed>โทรศัพท์</ion-label>
            <ion-input type="text" value="" [(ngModel)]="data.tel" name="tel"></ion-input>
          </ion-item>
  
          <div padding>
            <button ion-button color="primary" block>แก้ไขข้อมูล</button>
          </div>
        
      </ion-list>
      </form>

</ion-content>
