<!--
  Generated template for the WorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>การทำงาน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      ส่วนหัวของ Header 1
    </ion-card-header>

    <ion-card-content>
      ทดสอบ card content แสดงผลใน application 1
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      ส่วนหัวของ Header 2
    </ion-card-header>
  
    <ion-card-content>
      ทดสอบ card content แสดงผลใน application 2
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      เครื่องมือค้นหาสถานที่
    </ion-card-header>

    <ion-list>
      <button ion-item (click)="cart()">
        <ion-icon name="cart" item-start></ion-icon>
        ห้างสรรพสินค้า
      </button>

      <button ion-item (click)="medical()">
        <ion-icon name="medical" item-start></ion-icon>
        โรงพยาบาล
      </button>

      <button ion-item (click)="cafe()">
        <ion-icon name="cafe" item-start></ion-icon>
        ร้านกาแฟ
      </button>
    </ion-list>

  </ion-card>

</ion-content>
