<!--
  Generated template for the TravelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ท่องเที่ยว</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h2>ทดสอบ Loading</h2>
    <button ion-button block color="dark" (click)="Loading()">Loading</button>

    <h2>ทดสอบ Toast</h2>
    <button ion-button block color="blue" (click)="Toast()">Toast</button>

    <h2>ทดสอบ Toast Top</h2>
    <button ion-button block color="blue" (click)="ToastPosition('top')">Toast top</button>

    <h2>ทดสอบ Toast middle</h2>
    <button ion-button block color="blue" (click)="ToastPosition('middle')">Toast middle</button>

    <h2>ทดสอบ Toast bottom</h2>
    <button ion-button block color="blue" (click)="ToastPosition('bottom')">Toast bottom</button>

</ion-content>
